[tool.poetry]
name = "camden-registration-api"
version = "1.1.1"
description = "client for interracting with camden website using api"
authors = ["Alex Polovinko <alex.polovinko@gmail.com>"]
maintainers = ["Alex Polovinko <alex.polovinko@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/polovinko1980/camden-registration-api"
repository = "https://github.com/polovinko1980/camden-registration-api"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.32.3"
PyYAML = "^6.0"
pytz ="^2024.2"

[build-system]
requires = ["setuptools", "wheel", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.black]
line-length = 88
skip-string-normalization = true
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.ruff]
select = ["E", "F", "I"]
ignore = ["E501", "E402"] # line length
src = ["src", "tasks"]
exclude = [
  "**/__pycache__",
  ".venv",
  "venv",
  ".git",
  "build",
  "resources"
]
