image: "python:3.10"

stages:
    - linting
    - tests
    - build
    - publish


black:
  stage: linting
  script:
    - pip install black
    - black --check --verbose -- .


pylint:
  stage: linting
  before_script:
    - pip install pylint
    - echo pylint --version
    - pylint --version
  script:
    - find . -type f -name "*.py" |
      xargs pylint
          --disable=import-error,missing-module-docstring
          --load-plugins=pylint.extensions.docparams
          --good-names=x,n

run_tests:
  stage: tests
  before_script:
    - pip install '.[tests]'
  script:
    - pip install .
    - cd tests
    - python create_readme_tests.py
    - pytest .
  only:
    - main
    - dev


build_package:
  stage: build
  before_script:
    - pip install build
  script:
    - rm -rf dist/
    - python -m build
  artifacts:
    untracked: true
    expire_in: 1 week
  # tags:
    # - docker


publish_package:
  stage: publish
  before_script:
    - pip install twine
  script:
    - TWINE_PASSWORD=${scud_pypi_token} TWINE_USERNAME=__token__ python -m twine upload dist/*
  only:
    - tags
  # tags:
    # - docker

build_doc:
  stage: build
  before_script:
    - pip install '.[doc]'
  script:
    - pip install .
    - make -C doc html
  artifacts:
    untracked: true
    expire_in: 1 week
  # tags:
    # - docker

pages:
  stage: publish
  script:
    - rm -rf public/
    - cp -r doc/build/html public/
  artifacts:
    paths:
    - public
  # tags:
    # - docker
  # only:
    # - tags
